<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Brands</h1>
        <form #brandForm="ngForm" (ngSubmit)="save()">
            <input type="hidden" name="brandId" [(ngModel)]="brand.brandId" />
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" [(ngModel)]="brand.name" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>